common --java_language_version=21
common --java_runtime_version=remotejdk_21
common --tool_java_language_version=21
common --tool_java_runtime_version=remotejdk_21

common --noincompatible_enable_cc_toolchain_resolution

test --test_output=errors
test --test_summary=short
test --verbose_failures
test --test_env=CI
test --test_env=TVDB_API_KEY
test --test_env=YOUTUBE_API_KEY
test --test_env=SPOTIFY_CLIENT_ID
test --test_env=SPOTIFY_CLIENT_SECRET
